@font-face {
  font-family: "iconfont"; /* project id 2391440 */
  src: url("./font/iconfont.eot");
  src: url("./font/iconfont.eot?#iefix") format("embedded-opentype"),
    url("./font/iconfont.woff2") format("woff2"),
    url("./font/iconfont.woff") format("woff"),
    url("./font/iconfont.ttf") format("truetype"),
    url("./font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont";
}

.icon-date::before {
  content: "\e73b";
}

.icon-prev-year::before {
  content: "\e601";
}

.icon-prev-month::before {
  content: "\e62a";
}

.icon-next-month::before {
  content: "\e600";
}

.icon-next-year::before {
  content: "\e859";
}
